
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared styles */
.display-flex{
    display: flex;
}

.text-gray{
    color: #8987A1;
}

.text-gray-black{
    color: #252432;
}

.bg-color{
    background: rgb(245, 248, 255);;
}

body{
    max-width: 1140px;
    margin: 0 auto;
} 


.btn-primary{
    width: 270px;
    margin: 30px 0;
    background-color: #E95A08;
    color: white;
    padding: 26px 50px;
    font-size: 1 rem;
    font-weight: 400;
    border: none;
}


/* Navbar style */
.navbar{
    justify-content: space-between;

}

.nav-link{
    text-decoration: none;
    font-weight: 500;


}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* flower-content style */

.flower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: ;
}
.flower-content {
    max-width: 570px;
    
}

.flower-title {
    font-weight: 700;
    font-size: 4rem;
}

.flower-description {
    font-weight: 400;
    font-size: 1.2rem;
}

/* .flower-img {
    width: 100%;
} */

.span-color{
    color: #E95A08;
}

/* Plants and Card Style */
.plants-content {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
}

.plants-title {
    margin-top: 70px;
    font-weight: 500;
    font-size: 3.5rem;

}

.plants-details {
    width: 888px; 
    height: 44px;
    margin: 16px 0; 
    margin-bottom: 49px;
    font-size: 1.3rem;
    font-weight: 400px;
    gap: 16px 0px;
    text-align: center;
    align-items: center;
}

.card {
    text-align: center;
}

.card-image {
    width: 270px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 49px;
    gap: 30px;
}

.card-title {
    color:rgb(17,17,17);
    font-size: 1.5rem;
    font-weight: 500;
    gap: 20px;
}

.card-price {
    color:rgb(17,17,17);
    font-weight: 700;
    font-size: 1.7rem;
    gap: 20px;
}







 /* Responsive */
@media screen and (max-width:576px){
    .navbar,
    .nav-links,
    .flower
     {
        flex-direction: column;
     }
     .flower-title {
        text-align: center;
     }
     .plants-content {
        align-items: center;
        width: 100%;
     }
     .card-image{
        display: grid;
        grid-template-columns: repeat(2, 1fr);

     }
    
} 