
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Shared styles */
.display-flex{
    display: flex;
}

.text-gray{
    color: #8987A1;
}

.text-gray-black{
    color: #252432;
}

.bg-color{
    background: rgb(245, 248, 255);;
}

body{
    max-width: 1140px;
    margin: 0 auto;
} 


.btn-primary{
    width: 270px;
    margin: 30px 0;
    background-color: #E95A08;
    color: white;
    padding: 26px 50px;
    font-size: 1 rem;
    font-weight: 400;
    border: none;
}


/* Navbar style */
.navbar{
    justify-content: space-between;

}

.nav-link{
    text-decoration: none;
    font-weight: 500;


}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* flower-content style */

.flower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: ;
}
.flower-content {
    max-width: 570px;
    
}

.flower-title {
    font-weight: 700;
    font-size: 4rem;
}

.flower-description {
    font-weight: 400;
    font-size: 1.2rem;
}

/* .flower-img {
    width: 100%;
} */

.span-color{
    color: #E95A08;
}

/* Plants and Card Style */
.plants-content {
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
}

.plants-title {
    margin-top: 70px;
    font-weight: 500;
    font-size: 3.5rem;

}

.plants-details {
    width: 888px; 
    height: 44px;
    margin: 16px 0; 
    margin-bottom: 49px;
    font-size: 1.3rem;
    font-weight: 400px;
    gap: 16px 0px;
    text-align: center;
    align-items: center;
}

.card {
    text-align: center;
}

.card-image {
    width: 270px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 49px;
    gap: 30px;
}

.card-title {
    color:rgb(17,17,17);
    font-size: 1.5rem;
    font-weight: 500;
    gap: 20px;
}

.card-price {
    color:rgb(17,17,17);
    font-weight: 700;
    font-size: 1.7rem;
    gap: 20px;
}

/* Lover style */
.lover {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    margin-top: 130px;
    gap: 30px;
}

.flower-lover-title {
    font-weight: 700;
    font-size: 3.6rem;
}

.team-img-container {
    width: 540px;
}

.flower-description {
    margin: 25px auto;
}

/* Latest title style */

.deals-header {
    text-align: center;
    margin-bottom: 20px;
}

.deals-header h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.deals-color {
    color:black;
}

.banner-container{
    display: flex;
    gap: 15px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px;

}

.banner{
    position: relative;
    color: white;
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    overflow: hidden;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

/* Input banner */

.input-banner {
    background: url(../assets/news-letter-bg.png);
    width: 1140px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.input-banner-content {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 8px;
}

.input-banner h1{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.subscribe-form {
    display: flex;
    justify-content: center;
    max-width: 500px;
    margin: auto;
}

.subscribe-form input{
    padding: 10px;
    border: none;
    width: 70%;
    font-size: 1rem;
}

.subscribe-form button{
    background: #f4511e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


/* Footer style */
.footer-section {
    display: flex;
    justify-content: space-between;
}

.footer-chanel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.container {
    width: 359px;
    
}

.about-teams{
    margin-top: 20px;
    width: 395px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin: 30px;
}

.footer-chanel {
    margin-top: 40px;
    gap: 30px; 
}


/* Responsive */
@media screen and (max-width:576px){
    .navbar,
    .nav-links,
    .flower,
    .plants,
    .lover,
    .input-banner,
    .footer-section {

        flex-direction: column;
        text-align: center;


     }
     .flower-title {
        text-align: center;
     }
     .plants-content {
        text-align: center;
     }

     .plants-details {
        width: 100%;
     }
     .card-image{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

     }
     .card-image-container {
        text-align: center;

     }
     .team-img-container{
        flex-direction: column;
        display: block;
        width: 100%;
     }
   
     .banner-container {
        flex-direction: column;
        text-align: center;
        margin-left: 50px;
    }

     .subscribe-form {
        flex-direction: column;
        width: 100%;
     }

     .subscribe-form input, 
     .subscribe-form button {
        width: 100%;
        margin: 5px 0;
        padding: 12px;
     }

     .about-teams {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-inline-start: auto;
     }
     .footer-chanel {
        display: flex;
        align-items: center;
        justify-content: space-around;
     }
} 