
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared styles */
.display-flex{
    display: flex;
}

.text-gray{
    color: #8987A1;
}

.text-gray-black{
    color: #252432;
}

.bg-color{
    background: rgb(245, 248, 255);;
}


/* Navbar style */
.navbar{
    justify-content: space-between;

}

.nav-link{
    text-decoration: none;
    font-weight: 500;


}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}

/* flower-content style */

.flower {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: ;
}
.flower-content {
    max-width: 570px;
    
}

.flower-title {
    font-weight: 700;
    font-size: 4rem;
}

.flower-description {
    font-weight: 400;
    font-size: 1.2rem;
}

/* .flower-img {
    width: 100%;
} */

.span-color{
    color: #E95A08;
}



/* Responsive */
@media screen and (max-width:576px){
    .navbar,
    .nav-links,
    .flower {
        flex-direction: column;
    }
    
}